.detail-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #f4e285;

}

.detail-title {
  font-size: 50px;
  font-weight: 900;
}

.detail-phonenumber {
  font-size: 25px;
}

.detail-img {
  width: 100%;
}

.btnToTheList {
  color: #768948;
  background-color: #f4e285;
  border: none;
  font-size: 20px;
  padding: 5px;
  font-weight: 900;
}